@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

iframe {
    width: 600px;
    height: 400px;
    border: 0;
}

a {
    color: #0d2a63;
}

#experience-frame{
    height: 2000px;
    width: 800px;
}

blockquote {
    /*padding: 60px 80px 40px;*/
    position: relative;
    font-size: 35px;
    font-weight: 700;
    width: 800px;
    margin: 20px 50px;
}

blockquote::before {
    content: "“";
    position: absolute;
    left: -0.5em;
}

blockquote::after {
    content: "”";
    margin-right: -0.9rem;
}

hr{
    color: #ccc;
    background-color: #ccc;
    width: 200px;
    height: 2px;
    border-width: 0;
    text-align: left;
    margin-left: 80px;
}

